    .nav{
    margin-left: 70rem;
        display: flex;
        justify-content: space-between;
    }
    .text{
       margin-top: -3rem ;
       font-size: smaller;
       margin-left: 4rem;
       color: gray;
    }
    .container{
        margin-bottom: 5rem;
        font-family:arial;
    }
    .container_content{
        background-image: url(../img/ULAN.jpg);
        background-size: cover;
        background-position: center;
        max-width: 100%;
        padding-top: 10%;
        margin-top: -5rem;
    }

    .container_content .content .content-text h1{
        display: flex;
        justify-content: center;
        font-family: helvetica;
    }
    .container_content .content .content-text p{
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        margin-left: 4%;
        font-size: larger;
        font-family: arial;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: -4rem;
    }
    .btn{
            text-decoration: none;
            color: black;
            background-color: #FFA500;
            padding: 10px 20px;
            border-radius: 5px;
            border-radius: 3px;
            transition: background-color 0.5s;
            
        }
    
    .btn hover{
        background-color: #FF6347;
    }